<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
{% load cache %} <!-- Загружаем кэширование -->
     {% cache 300 headtable %} <!-- Кэшируем отдельный блок на 300 секунд -->

    <table>
        <tr>
            <td>
                Заголовок
            </td>
            <td>
                Дата публикации
            </td>
            <td>
                Текст
            </td>
        </tr>
{% endcache %}
        <tr>
            <td>
                {{ post.title|censor|truncatewords:4 }}
            </td>
            <td>
                {{ post.time_post|date:'d-M-Y H:m' }}
            </td>
            <td>
                {{ post.text|censor }}
            </td>
            <td>
            {{ post.categories }}
            </td>
        </tr>

    </table>



{% endblock content %}